.first{
    width: 40%;
    border:none;
    margin:10px;
    margin-left:30%;
    border-radius: 20px;
    background-color: rgba(49, 75, 131, 0.486);
    color:white;
}
.container
{
  margin:30px;
  padding: 30px;
  background-color:rgba(255, 255, 255, 0);
  margin-left: 25%;
}
select{
  width: 100px;
  height: 35px;
  border-radius: 20px;
  display: inline;
  margin-left: 10px;
  font-weight: bolder;
}
select:hover{
  background-color: rgb(210, 226, 240);
}
label{
  font-size: larger;
}
p
{
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}
button
{
  background-color: rgb(219, 74, 30);
  color: rgb(255, 255, 255);
  padding: 6px;
  margin: 5px;
}
button:hover
{
  background-color: rgba(219, 74, 30, 0.658);
  color: rgb(255, 255, 255);
  padding: 8px;
  margin: 5px;
}
