<div>
  <p class=" text-black-50">Update Order</p>

  <h3>Order id: {{orderId}}</h3>
  <h3>New Status</h3>
  <select title="NEW ORDER STATUS" [(ngModel)]="newStatus" class="form-control" required="required">
    <option *ngIf="currentUserRole.toString() === 'User'" [value]="OrderStatus.Done">Done</option>
    <option *ngIf="currentUserRole.toString() === 'User'" [value]="OrderStatus.Canceled">Cancel</option>
    <option *ngIf="currentUserRole.toString() === 'Worker'" [value]="OrderStatus.InProgress">InProgress</option>
    <option *ngIf="currentUserRole.toString() === 'Worker'" [value]="OrderStatus.Canceled">Cancel</option>
  </select>
  
  <button type="button" class="btn btn-success" (click)="Update()">Update</button>
  
</div>