<p>Notification works!</p>

<div *ngFor="let notification of notifications; let i=index ;">
  <div class="notification">
    <h4>{{i+1}} : {{ notification.title }}</h4>
    <p>{{ notification.content }}</p>
    <p>Id: {{ notification.id }}</p>
    <p>ownerId: {{ notification.ownerId }}</p>
    <p>isRead: {{ notification.isRead }}</p>
    <small>{{ notification.createdDate | date: 'short' }}</small>
  </div>
</div>
<!-- <input type="button" value="reload" (click)="reload()">

<br>
<input #t1 type="number" [(ngModel)]="userId" placeholder="UserId">
<input type="number" [(ngModel)]="workerId" placeholder="WorkerId">
<input type="button" value="SendOrderCreatedNotification" (click)="SendOrderCreatedNotification()">
<input type="button" value="SendOrderAcceptedNotification" (click)="SendOrderAcceptedNotification()"> -->
