@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.container
{
margin-top: 13%;
padding-top: 5px;
font-family:'Montserrat';

}
footer
{
  background-color: rgba(27, 63, 105, 0.685);
  font-family:'Montserrat';
}
