<h1 class="text-black-50 text-sm-center">orders list</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>User</th>
      <th>Worker</th>
      <th>Status</th>
      <th>Created Date</th>
      <th colspan="2" style="text-align: center;">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="orders.length === 0">
      <td colspan="6">No orders...</td>
    </tr>
    <tr *ngFor="let order of orders; let i = index">
      <td>{{ order.id }}</td>
      <td>{{ order.user.userName }}</td>
      <td>{{ order.worker.userName }}</td>
      <td>{{  OrderStatus[order.status] }}</td>
      <td>{{ order.createdDate | date }}</td>
      <td>
        <button
          value="update"
          class="btn btn-primary"
          (click)="updateOrder(order.id)"
        >
          Update
        </button>
      </td>
      <td>
        <button
          value="rate"
          class="btn btn-secondary"
          (click)="addRate(order.user.id, order.worker.id)"
          [disabled]="order.status !== 2"
        >
          Rate
        </button>
      </td>
    </tr>
  </tbody>
</table>
