<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" routerLink="/home"><img src="./assets/images/Logo.PNG"
      style="width: 55px; margin-left:5px"></a>
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link " routerLink="/home" aria-current="page">Home <span
            class="visually-hidden">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/About">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/worker">workers</a>
      </li>
    </ul>
    <form id="search" class="d-flex my-2 my-lg-0">
      <div class="container mt-5">
        <div class="input-group mb-5">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn my-2 my-sm-0" type="submit">
                <span > <li class="fa fa-search "></li></span>
              </button>
            </div>
        </div>
    </div>
    </form>
    <form class="noti d-flex my-2 my-lg-0">
      <button class="btn my-2 my-sm-0 " type="submit">
      <li routerLink="/Notification" class="fa fa-bell"></li>
      </button>
    </form>
    <form class="noti d-flex my-2 my-lg-0">
      <button class="btn my-2 my-sm-0 " type="submit">
      <li routerLink="/Chat" class="fa fa-comment"></li>
      </button>
    </form>
    <form class="noti d-flex my-2 my-lg-0">
      <button class="btn my-2 my-sm-0 " type="submit">
      <li routerLink="/login" class="fa fa-user"></li>
      </button>
    </form>
  </div>
</nav>


