<nav class="navbar navbar-expand-md" >
  <a class="navbar-brand" routerLink="/home"><img src="./assets/images/Logo.PNG"
      style="width: 55px; margin-left:5px"></a>
  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link active" routerLink="/home" aria-current="page">Home <span
            class="visually-hidden">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/About">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Services">Services</a>
      </li>

    </ul>
    <form class="d-flex my-2 my-lg-0">
      <div class="container mt-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
        </div>
    </div>
    </form>
    <form class="d-flex my-2 my-lg-0">
      <button class="btn my-2 my-sm-0" type="submit">
        Notification
      </button>
    </form>
  </div>
</nav>

