nav
{
  background-color: #2d5685b0;
}

button
{
  margin:2px;
  padding:8px;
  font-weight:bold;
  font-size: small;
  color: white;
  border-color: rgba(240, 248, 255, 0.397);

}
button:hover
{
  font-weight:bold;
  font-size: small;
  color: white;
  border-color: rgba(240, 248, 255, 0.397);
  margin: 5px;
  padding: 5px;
  background-color: rgb(231, 99, 66);
}
input
{
  background-color: rgba(255, 255, 255, 0.521);
  width:200px;
  height: 35px;
  size: 100px;
}
