<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/home">
      <img alt="logo" src="./assets/images/Logo.PNG" style="width: 55px; margin-left:5px">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/About">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Services">Services</a>
        </li>
  
        <!-- Use Angular *ngIf for conditional rendering -->
        <li *ngIf="!accountService.isWorker()" class="nav-item" >
          <a class="nav-link" routerLink="/worker">Workers</a>
        </li>
        <li *ngIf="!accountService.isWorker()" class="nav-item">
          <a class="nav-link" routerLink="/jobs">Jobs</a>
        </li>
        <li class="nav-item" *ngIf="accountService.isAuthenticated()">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </li>
      </ul>
  
      <!-- Search form -->
      <form id="search" class="d-flex my-2 my-lg-0">
        <div class="container mt-5">
          <div class="input-group mb-5">
            <input name="searchkeyword" type="text" class="form-control" placeholder="Search" aria-label="Search" [(ngModel)]="searchKeyWord">
            <div class="input-group-append">
              <button class="btn my-2 my-sm-0" type="button" title="search">
                <span><i class="fa fa-search"></i></span>
              </button>
            </div>
          </div>
        </div>
      </form>
  
      <!-- Notification button -->
      <form class="noti d-flex my-2 my-lg-0">
        <button class="btn my-2 my-sm-0" type="button" title="Notifications" routerLink="/Notification">
          <i class="fa fa-bell"></i>
        </button>
      </form>
  
      <!-- Chat button -->
      <form class="noti d-flex my-2 my-lg-0">
        <button class="btn my-2 my-sm-0" type="button" title="Chat" routerLink="/Chat">
          <i class="fa fa-comment"></i>
        </button>
      </form>
  
      <!-- Authentication buttons -->
      <form class="noti d-flex my-2 my-lg-0">
        <ng-container *ngIf="!accountService.isAuthenticated(); else loggedIn">
          <button class="btn my-2 my-sm-0" type="button">
            <a class="login" routerLink="/login">Login/Register</a>
          </button>
        </ng-container>
        <ng-template #loggedIn>
          <button class="fas fa-arrow-right-from-bracket btn my-2 my-sm-0 logout" type="button" (click)="accountService.logout()">
            Logout
          </button>
        </ng-template>
      </form>
    </div>
  </nav>
  </body>
  