@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
nav
{
  background-color:rgba(27, 63, 105, 0.685);
  height: 65px;
  border-color: rgba(209, 208, 208, 0.137);
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  box-shadow: rgb(2, 14, 14);
  font-family: 'Montserrat';
}
button
{
  margin:2px;
  padding:8px;
  font-weight:bold;
  font-size: small;
  color: white;
  border-color: rgba(240, 248, 255, 0.397);
  transition: background-color 0.3s;
}
button:hover,button:focus
{
  font-weight:bold;
  font-size: small;
  color: white;
  border-color: rgba(240, 248, 255, 0.397);
  margin:2px;
  padding: 8px;
  background-color: rgb(231, 99, 66);
}
input
{
  background-color: rgba(255, 255, 255, 0.521);
  width:200px;
  height: 35px;
  size: 100px;
}
.nav-link{
color: white;
margin: 6px;
padding: 4px;
transition: background-color 0.3s;
}
.nav-link:hover,.nav-link:focus
{
  background-color:rgb(231, 99, 66);
  border-radius: 15px;
  margin: 6px;
  color: white;
}
.noti
{
  margin-right: 10px;
}
.login
{
  width: 80px;
  padding: 0px;
  height: 5px;
  font-size: small;
  font-weight: bold;
  margin: 0px;
  color: aliceblue;
  text-decoration: none;
}
.logout
{
  text-decoration: none;
  background-color:rgb(231, 99, 66);
}
/* .badge
{
  background-color:rgb(231, 99, 66);
  margin-top: 15px;
} */
