<div class="container">
    <div *ngFor="let item of jobs" class="card2">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                  <img class="cardimg" src="./assets/images/home.avif" alt="mechanic">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
              <h3>
                JobName: {{item.name}}
              </h3>
              <h4 class="card-text">Price: {{item.price}}</h4>
                <p>
                    <button class="btn" type="button" (click)="ShowWorkers(item.id)">show Worker</button>
                </p>

            </div>
        </div>
    </div>
</div>
