<h1 style="font-weight: bolder;text-align:center;padding-top:30px;margin-bottom:5px;">All Services</h1>
<div  class="container row row-cols-4 row-cols-md-6 g-4">
    <div  *ngFor="let item of jobs | paginate: { itemsPerPage: 9, currentPage: p }" class="card2">
        <div class="face face1">
            <div class="content">
                <div class="icon">
                  <img class="cardimg" src="./assets/images/home.avif" alt="mechanic">
                </div>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
              <h3>
                JobName: {{item.name}}
              </h3>
              <h4 class="card-text">Price: {{item.price}}</h4>
                <p>
                    <button class="btn" type="button" (click)="ShowWorkers(item.id)">show Worker</button>
                </p>

            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
